/* styles.css */
table {
    border-collapse: collapse;
    width: 100%;

}
th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 0;
    font-size: x-small;

}
th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
