<div class="dash_board_wrapper">
    <div class="image_con">
        <img src="../../assets/images/bg1.png" alt="bg">

    </div>

    <div class="btn_cards" (click)="goTo('film')">
        <span class="material-icons">apartment</span>
        <span>FilMS</span>
        <span>Film <span class="crud">CRUD</span> operations</span>
    </div>
    <div class="btn_cards" (click)="goTo('u')">
        <span class="material-icons">local_library</span>
       <span> BookS</span>
       <span>Novels <span class="crud">CRUD</span> operations</span>
    </div>
    <div class="image_con">
        <img src="../../assets/images/books.png" alt="bg">
    </div>

    
</div>